<nav class="navbar navbar-default navbar-fixed-top" style="background-color: blue;">
    {% load static %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: white;">Cargo Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" style="color: white;"><span><img src="{% static "Home.png" %}"/>Home</span></a></li>
                {% if request.COOKIES.userid or userid %}
                    {% if userid %}
                        <li><a href="/shipments/user/{{ userid }}" style="color: white;"><span><img src="{% static "Shippment.png" %}"/>Shipment</span></a></li>
                    {% elif request.COOKIES.userid %}
                        <li><a href="/shipments/user/{{ request.COOKIES.userid }}" style="color: white;"><span><img src="{% static "Shippment.png" %}"/></span>Shipment</a></li>
                    {% endif %}
                    <li><a href="/adminpanel" style="color: white;"><span><img src="{% static "Admin.png" %}"/>Admin</span></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.COOKIES.userid or userid %}
                    {% if request.COOKIES.userid %}
                        <li><a href="/users/profile/{{ request.COOKIES.userid }}" style="color: white;"><span><img src="{% static "Profile.png" %}"/>Profile</span></a></li>
                        <li><a href="{% url 'logout' %}" style="color: white;"><span><img src="{% static "Logout.png" %}"/>Logout</span></a></li>
                    {% elif userid %}
                        <li><a href="/users/profile/{{ userid }}" style="color: white;"><span><img src="{% static "Profile.png" %}"/>Profile</span></a></li>
                        <li><a href="{% url 'logout' %}" style="color: white;"><span><img src="{% static "Logout.png" %}"/>Logout</span></a></li>
                    {% endif %}
                {% else %}
                    <li><a href="/users/login" style="color: white;"><span><img src="{% static "Login.png" %}"/>Login</span></a></li>
                    <li><a href="/users/register" style="color: white;"><span><img src="{% static "Register.png" %}"/>Register</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block navbar %}
{% endblock %}
